ruff==0.11.0
python-dotenv==1.0.1
streamlit==1.43.2
streamlit-pills==0.3.0
openai==1.66.3
llama-index==0.12.24
llama-index-llms-openai==0.3.25
llama-index-embeddings-huggingface==0.5.2
llama-index-vector-stores-redis==0.5.0